body .header
    top 0
    left auto
    right 0
    position fixed
    width 100%

.toolBar
    display flex
    justify-content space-between
    background-color #2fa1b5
    & .headerButtonContainer, .logo
        margin 0 10px 0 0
        & .headerButton
            color white

.headerTitle
    padding 0 10px
    border-left 2px solid white

.left, .right
    display flex
    align-items center