body .header
    top 0
    left auto
    right 0
    position fixed
    width 100%
    z-index 1500

.toolBar
    display flex
    justify-content space-between
    background-color #2fa1b5
    & .headerButtonContainer
        padding 8px
        margin 2px
        & .headerButton
            color white

.headerTitle
    padding 0 10px
    border-left 2px solid white

.left, .right
    display flex
    align-items center