.component-container
    display flex
    flex auto
    flex-direction column
    justify-content center
    align-items center
    width 100%

    .avatar-content
        display flex
        flex-direction column
        align-items center
        width inherit
        color #26a69a
        .avatar-label
            width 80%
            margin 20px 0
        .avatar-grid
            display flex
            flex-direction row
            justify-content space-around
            align-items center
            background-color #eee
            border-radius 5px
            width 80%
            padding 20px
            & .pikachu
                background-color yellow
            & .letterS
                background-color #ef5350
            & .letterLA
                background-color #42a5f5
            & .pageview
                background-color #b9f6ca
                color #ff8a65
            & .assignment
                background-color #ba68c8

    .button-content
        display flex
        flex-direction column
        align-items center
        justify-content center
        color #26a69a
        width inherit
        .button-label
            width 80%
            margin 10px 0
        .button-grid
            display flex
            flex-direction row
            justify-content space-evenly
            align-items center
            border-radius 5px
            background-color #eee
            width 80%
            padding 20px

    .chip-content
        display flex
        flex-wrap wrap
        justify-content center
        align-items center
        & .chip
            margin 10px

    .panel-gallery
        display flex
        flex auto
        flex-direction column
        justify-content center

    & .card
        max-width 345px
        & .card-media
            height 140px

   & .list-gallery
        min-width 360px
        & .nested
            padding-left 30px

    .spinner-container
        display: flex
        flex-direction row
        align-items center
        margin 0 0 50px 0
        .spinner
            margin 10px 20px

    .progress-bar-container
        display flex
        flex-direction column
        justify-content space-around
        align-items center
        width 100%
        .progress-bar
            margin 20px 0
            width 100%