& .component-container
    display flex
    flex auto
    flex-direction column
    width 100%
    justify-content: center
    align-items center

    & .avatar-content
        display flex
        flex-direction column
        align-items center
        width: 100%;
        margin 20px
        color #26a69a
        & .avatar-grid
            display flex
            justify-content space-evenly
            align-items center
            flex-direction row
            padding 10px
            width 80%
            padding 10px
            background-color #eee
            & .pikachu
                background-color yellow
            & .letterS
                background-color #ef5350
            & .letterLA
                background-color #42a5f5
            & .pageview
                background-color #b9f6ca
                color #ff8a65
            & .assignment
                background-color #ba68c8

    & .button-content
        display flex
        flex-direction column
        align-items center
        color #26a69a
        width 80%
        & .button-grid
            display flex
            justify-content space-evenly
            align-items center
            flex-direction row
            margin 10px
            width 100%
            padding 10px
            border-radius 5px
            background-color #eee

    & .dialog-button
        width 150px
    
    & .chip-container
        display flex
        justify-content center
        flex-wrap wrap
        margin 20px 0
        & .chip
            margin 10px

    & .single-panel
        width 90%

    & .card
        max-width 345px
        & .card-media
            height 140px

   & .list-container
        width 100%
        max-width 360px
        & .nested
            padding-left 30px

    & .notification
        z-index: 999