.sidebar
    width: 100vw
    padding 0 10px
    height 85vh
    transition: margin-left 225ms
    justify-content: center
    & .main-container
        display flex
        flex-direction column
        align-items center
        max-width 1500px
        & .tab-container
            position relative
            & .tabs
                background-color #0288d1
                color white
        & .sample-code
            background-color white
            width 100%
            min-height 75vh
            font-size: 1em
    & .icon-container
        display flex
        flex-direction column
        .icon-gallery
            display: flex
            flex-wrap: wrap
            .icon
                margin 0 2px
                &:hover
                    background-color #afafaf
                svg
                    width 50px
                    height 50px

.open
    margin-left 250px

.close
    margin-left 0