.sidebar
    width: 100vw
    padding 10px
    height 85vh
    transition: margin-left 225ms
    justify-content: center
    & .main-container
        display flex
        flex-direction column
        align-items center
        width 100%
        height 100%
        max-width 1500px
        & .tabContainer
            background-color #6fafb5
            color black
            display flex
            justify-content space-between
        & .sample-code
            background-color white
            width 100%
            font-size: 1em

.open
    margin-left 250px

.close
    margin-left 0