.mainContainer
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin 5px
    & .tabContainer
        background-color #6fafb5
        color black
        display flex
        justify-content space-between