.navBarContainer
    z-index 600
    position fixed
    top 0
    & .navBar
        margin-top 85px
        & .navBarItem
            & .navBarLabel
                padding 0 12px 0 0
        & .navBarSubList
            padding: 0